<ion-view >
    <ion-nav-title>Pedido realizado com sucesso</ion-nav-title>
    <div class="bar bar-subheader bar-balanced">
        <h2 class="title">Total: R$ {{total}}</h2>
    </div>
    <ion-content class="padding  has-subheader">
        <ion-list>
            <ion-item class="item-dark item-icon-left" ng-show="cupom.value != null">
                <strong>Cupom</strong>
                <span class="badge badge-dark">- R$ {{cupom.value}}</span>
            </ion-item>
            <ion-item ng-repeat="o in items">
                <h2>{{o.name}}</h2>
                <div class="row">
                    <div class="col">
                        Qtd: {{o.qtd}}<br/>
                        <i class="ion ion-cash"> {{o.price}}</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{o.qtd * o.price}}</i>
                    </div>
                </div>
            </ion-item>
            <button type="button" ng-click="openListOrder()" class="button button-royal button-full">Ver meu pedidos</button>
        </ion-list>
    </ion-content>

</ion-view>