<ion-view >
    <ion-nav-title>Produto: {{product.name}}</ion-nav-title>
    <div class="bar bar-subheader">
        <h2 class="title">Detalhes do produto</h2>
    </div>
    <ion-content class="padding has-subheader">
        <div class="list card">
            <h2>{{product.name}}</h2>
            Qtd: {{product.qtd}} <br />
            <i class="ion cash">{{product.price}}</i>

            <label class="item item-input">
                <input type="text" placeholder="Quantidade" ng-model="product.qtd" />
            </label>

            <button type="button" ng-click="updateQtd()" class="button button-assertive button-full">Alterar Quantidade</button>

            <div class="item item-body">
                <h2>Descrição</h2>
                <p>{{product.description}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>