<ion-view >
    <ion-nav-title>Meus Pedidos</ion-nav-title>
    <ion-content class="padding has-header">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item collection-repeat="o in items" ng-click="openOrderDetail(o)" on-hold="showActionSheet(o)">

                <div class="row">
                    <div class="col">
                        <h2>{{o.created_at.date|limitTo:10|date: 'dd/MM/yyyy'}}</h2>
                        <p>{{o.product_names | limitTo: 3 | join: ', '}}</p>
                        <i class="ion ion-ios-cart"> {{o.product_names.length}} Items</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{o.total}} </i>
                    </div>
                </div>
                <ion-option-button class="button-balanced" ng-click="">Ação 1</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="">Ação 2</ion-option-button>
                <ion-option-button class="button-positive" ng-click="">Ação 3</ion-option-button>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="canMoreItems" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>

    </ion-content>

</ion-view>